body {
    margin: 0 auto !important;
    font-family: sans-serif;
    max-width: calc(375px - 20px);
}

#app {
    padding-top: 40px;
}

.awesomplete {
    display: block !important;
}

#suggestInput {
    font-size: 20px;
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #787ca659;

    &::placeholder {
        color: lightgray;
    }
}

#load-button {
    position: absolute;
    font-size: 9px;
    padding: 9px 10px 10px;
    border: none;
    background: transparent;
    right: 0;
    top: 0;
    bottom: 0;
}

.card {
    background-color: #F2F4F6;
    border-radius: 8px;
    margin-bottom: 10px;
    
    .verh {
        padding: 0 10px;
        
        .wrap {
            padding: 15px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        
        .compound {
            font-size: 20px;
            margin: 0;
        }
        
        .ksp {
            font-size: 20px;
            color: #001DFF;
            margin: 0;
        }
        
        .comment {
            font-size: 14px;
            margin: 0;
            padding: 2px 0 10px;
        }
    }
    
    
    .niz {
        display: flex;
        margin-left: 10px;
        border-top: 1px solid #787ca659;
        justify-content: space-between;
        align-items: baseline;

        p.dissotiation {
            font-size: 14px;
            color: #787ca6;
            margin: 5px 0 10px;
            padding: 5px 0;
            display: block;
            margin-left: -5px;
        }

        .color {
            margin: 0;
            padding-right: 10px;
        }
    }
}
