$body-width: 375px;
$menu-width: 375px;

body {
    margin: 0 auto;
    font-family: sans-serif;
    max-width: $body-width;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media all and (min-width: 1080px) {
        margin-top: 30px;
    }

    img {
        display: black;
        margin: 5px 0px 10px;
    }
    
    nav {
        .menu-icon {
            cursor: pointer;
            font-family: serif;
            font-style: italic;
            font-size: 1.2em;
            line-height: 0.9;
            padding: 6px 12px;
            border: none;
            border-radius: 20px;
            color: #787ca6;
            background-color: #eaedf0;
            transition: background-color 300ms ease-in-out;

            outline: none;

            &:active {
                background-color: rgba(121,124,166,0.3);
            }
            
            @media all and (min-width: 1080px) {
                &:hover {
                    background-color: rgba(121,124,166,0.3);
                    transition: 0ms;
                }
            }
        }

        .menu-opened {
            display: none;
        }

        .menu-wrapper {
            position: fixed;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            
            .menu-body {
                margin-top: 55px;
                width: $body-width - 40px;
                padding: 0 10px;
                border-radius: 10px;
                background-color: #F2F4F6;
                box-shadow: 0 0 10px 0 rgba(121,124,166,0.3);

                a {
                    text-decoration: none;
                    background-color: transparent;
                    color: #001DFF;
                    border-bottom: 1px solid rgba(0, 29, 255, 0.3);
                }

                @media all and (min-width: 1080px) {
                    margin-top: 80px;

                    a:hover {
                        color: #001DFF;
                        border-bottom: 1px solid #001DFF;
                    }
                }
            }

            .close-icon {
                cursor: pointer;
                position: absolute;
                top: 15px;
                right: calc(50% - (375px / 2) + 6px);
                padding: 10px;
                background: transparent;
                border-radius: 50%;
                border: none;

                svg {
                    display: block;

                    line {
                        fill: none;
                        stroke: white;
                        stroke-linecap: round;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                    }
                }

                @media all and (min-width: 1080px) {
                    top: 44px;
                    right: calc(50% - (375px / 2) + 7px);
                    
                    &:hover {
                        svg line {
                            stroke: rgba(255,255,255,0.8);
                        }
                    }
                }
            }
        }

    }
}

#load-button {
    cursor: pointer;
    position: absolute;
    font-size: 9px;
    padding: 9px 10px 10px;
    border: none;
    background: transparent;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    transition: background-color 300ms ease-in-out;

    &::after {
        display: block;
        width: 12px;
        height: 14px;
        content: url(images/enter-arrow.svg);
    }

    @media all and (min-width: 1080px) {
        &:hover {
            background: rgba(121,124,166,0.2);
            transition: 0ms;
        }
    }
}

.subtitle {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;

    h3 {
        margin-top: 0;
    }
}

.list {
    padding-bottom: 90px;
}

.card {
    cursor: pointer;
    position: relative;
    background-color: #F2F4F6;
    border-radius: 8px;
    margin-bottom: 10px;

    &::after {
        content: '+';
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -9px;
        font-size: 12px;
        color: #d7d7d7;
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border: 2px solid rgba(121,124,166,0);
        border-radius: 10px;
        transition: border 300ms ease;
    }

    @media all and (min-width: 1080px) {
        &::after {
            content: '';
        }

        &:hover {
            &::after {
                content: '+';
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: -15px;
                font-size: 16px;
                color: rgba(121,124,166,0.5);
            }
    
            &::before {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border: 2px solid rgba(121,124,166,0.3);
                border-radius: 10px;
                transition: 0ms;
            }
        }
    }
    
    // TODO: переименовать verh и niz
    .verh {
        padding: 0 10px;
        
        .wrap {
            padding: 15px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        
        .compound {
            font-size: 20px;
            margin: 0;
        }
        
        .ksp {
            font-size: 20px;
            color: #001DFF;
            margin: 0;

            span.scientific {
                
            }

            span.minus-log {
                display: none;
            }
        }
        
        .comment {
            font-size: 14px;
            margin: 0;
            padding: 2px 0 10px;
        }
    }
    
    
    .niz {
        display: flex;
        margin-left: 10px;
        border-top: 1px solid rgba(121,124,166,0.3);
        justify-content: space-between;
        align-items: center;

        p.dissociation {
            font-size: 14px;
            color: #787ca6;
            margin: 5px 0 10px;
            padding: 5px 0;
            display: block;
            margin-left: -5px;
        }

        .colors {
            display: flex;
            padding-right: 10px;

            .color-sample {
                margin-left: -8px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                border: 2px solid #f2f4f6;
            }
        }
    }

    .erase-btn {
        display: none;
    }

    &.selected {
        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            border: 2px solid limegreen;
            border-radius: 10px;
        }

        &::after {
            content: "";
        }
    }
}

.no-compounds {
    text-align: center;
    margin: 60px auto;

    p {
        padding: 0px 70px;
    }
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    
    .toggle-switch {
        cursor: pointer;
        -webkit-appearance: none; /* hide checkbox */
        outline-width: 0; /* remove chrome's blue outline */
        height: 1.5em;
        width: 2.5em;
        background: #F2F4F6;
        margin-left: 0.4em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 1.5em;
        position: relative;
        transition: .2s;

        @media all and (min-width: 1080px) {
            &:hover {
                background: rgba(121,124,166,0.3);
            }
        }
            
        &:checked {
            background: limegreen;
            border: 1px solid rgba(0, 0, 0, 0);
        }
            
        &::before {
            content: '';
            height: 1.375em;
            width: 1.375em;
            background: white;
            border-radius: 1.5em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
            position: absolute;
            transition: .15s;
        }
            
        &:checked:before {
            transform:translateX(1em);
        }
        
        &:active:before {
            background: #eee;
        }
    }
}

// прячет плейсхолдер, когда в поле есть тег
.tagify__tag + .tagify__input::before{
    display: none;
}

.tagify {
    --tag-bg: #eaedf0;
    --tags-border-color: #787ca659;
    border-radius: 8px;

    &__tag>div>* {
        overflow: inherit;
    }

    &__tag__removeBtn {
        font: 14px/14px Serif;
        top: 48%;
    }

    .tagify__input::after {
        display: none;
    }
    
    // TODO: прятать плейсхолдер после появления первого тега
    // &.tagify--focus {
    //     .tagify__input::before {
    //         display: none;
    //     }
    // }
}

.app-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}

.compare-menu {
    position: fixed;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 20px 0 rgba(121,124,166,0.3);

    transition: top 100ms ease;

    @media all and (min-width: 1080px) {
        transition: right 100ms ease;
        top: -80px;
        left: unset;
        right: -375px;
        width: $menu-width;
        box-shadow: 0 0 20px 0 rgba(121,124,166,0);
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        width: 50px;
        height: 4px;
        background-color: lightgray;
        border-radius: 4px;
        transform: translateX(-50%);
    }

    & > .subtitle {
        padding: 15px 10px 0;
    }

    .subtitle {
        margin: 0;

        h3 {
            margin-bottom: 10px;
        }

        h3.compare-title {
            flex-grow: 1;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -15px;
                right: 0;
                bottom: -10px;
                left: 0;
            }

            &:hover {
                color: #787ca6;
            }
        }

        .clear-btn {
            padding: 0;
            border: none;
            color: #D0021B;
            background: transparent;
            cursor: pointer;

            &:active {
                color: red;
            }

            @media all and (min-width: 1080px) {
                position: absolute;
                transform: translate(50%);
                right: 50%;
                bottom: 25px;
                z-index: 99;
                backdrop-filter: blur(5px);
                width: 100%;
                padding: 20px;
                background: rgba(255, 255, 255, 0.5);

                &:hover {
                    background: rgba(208, 2, 27, 0.05);
                }
            }
        }
    }

    .compare-small-container {
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        margin: 0 -10px;
        padding: 0 10px;
        
        height: 33px;
    }

    .compare-small {
        display: flex;
        padding: 0 10px;
    
        .micro-card {
            display: inline-block;
            padding: 8px 8px 6px;
            border-radius: 5px 5px 0 0;
            margin-right: 5px;
            background-color: #F2F4F6;

            &:last-of-type {
                margin-right: 10px;
            }
        }
    }

    .compare-menu-container {
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 0 15px 30px 10px;

        nav {
            margin: 10px 0;
            justify-content: center;

            .sub-nav {
                min-width: 80px;

                @media all and (min-width: 1080px) {
                    min-width: 0;
                }

                &:last-of-type {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            h3 {
                text-align: center;
                flex-grow: 1;

                @media all and (min-width: 1080px) {
                    text-align: left;
                }
            }

            .hide-btn {
                padding: 3px 10px;
                color: #494c69;
                border: 1px solid rgba(121,124,166,0.5);
                border-radius: 6px;
                background: transparent;
                
                &:active {
                    background: rgba(121,124,166,0.2);
                }

                @media all and (min-width: 1080px) {
                    display: none;
                }
            }
        }
    }

    .card:last-of-type {
        margin-bottom: 100px;
    }

    &.shown {
        top: calc(100% - 80px);

        @media all and (min-width: 1080px) {
            right: 0;
        }
    }

    &.opened {
        top: -80px;

        @media all and (min-width: 1080px) {
            right: 0;
            left: unset;
            box-shadow: 0 0 20px 0 rgba(121,124,166,0.3);
        }
    }

    .card {
        &::after {
            content: '';
        }

        &::before {
            transition: none;
        }

        &:hover {
            cursor: default;
            
            &::before {
                border: none;
            }
        }
        
        .erase-btn {
            display: block;
            position: absolute;
            top: -23px;
            right: -12px;
            background: transparent;
            border: none;
            padding: 20px 0 40px 30px;
            
            cursor: pointer;
            outline: none;
            
            svg {
                width: 9px;
        
                line {
                    fill: none;
                    stroke: #d9d9d9;
                    stroke-linecap: round;
                    stroke-width: 2px;
                }    
            }

            &:hover {
                svg line {
                    stroke: #D0021B;
                }
            }
        }
    }
}
